body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

#game-container {
    width: 1000px;
    height: 800px;
    background-color: black;
}